{% extends 'blog/base.html' %}

{% load static %}

{% block body %}
    `<main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-{{ message.tags }}">
                    <h6>Django messages might be shown here</h6>
                </div>
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{% static 'corey.jpeg' %}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="user_posts.html">Jordan Gibbs</a>
                            <small class="text-muted">Feb 19, 2023</small>
                        </div>
                        <h5><a class="article-title" href="post_detail.html">I have been watching a decade.</a></h5>
                    </div>
                </article>
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{% static 'gibbs.jpeg' %}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="user_posts.html">Jordan Gibbs </a>
                            <small class="text-muted">Feb 19, 2023</small>
                        </div>
                        <h5><a class="article-title" href="post_detail.html">Do Gimmicky ChatGPT Prompts Actually
                            Work?</a></h5>
                    </div>
                </article>
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Our Sidebar</h3>
                    <p class='text-muted'>You can put any information here you'd like.
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">Latest Posts</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>
{% endblock %}