<div class="row">


    <div class="col-6">
        {% if  page_obj.has_previous %}

            <a href="{% url 'blog:home-page' %}?page=1">first</a>
            <a href="{% url 'blog:home-page' %}?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
        {{ page_obj.number }}
        {% if  page_obj.has_next %}
            <a href="{% url 'blog:home-page' %}?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            <a href="{% url 'blog:home-page' %}?page={{ num_pages }}">last</a>
        {% endif %}

        {#         <a href="{% url 'blog:home-page' %}?size={{ page_obj.next_page_number }}""></a></p>#}

    </div>
    <div class="col-3">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                    aria-expanded="false">
                Page Size
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'blog:home-page' %}?size=5">5</a>
                <a class="dropdown-item" href="{% url 'blog:home-page' %}?size=10">10</a>
                <a class="dropdown-item" href="{% url 'blog:home-page' %}?size=20">20</a>
            </div>
        </div>
    </div>

</div>