{% extends 'blog/base.html' %}
{% load static %}
{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="alert alert-{{ message.tags }}">
                    <h3>Django messages might be shown here</h3>
                </div>
                <h1 class="mb-3">Posts by Andrew Ng </h1>

                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{% static 'andrew.jpeg' %}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="user_posts.html">Andrew Ng</a>
                            <small class="text-muted">Aug 21, 2019</small>
                        </div>
                        <h2><a class="article-title" href="post_detail.html">AI in Latin America: Announcing our first
                            international office in Colombia</a></h2>
                            <p class="article-content">I am excited to announce the opening of our office in Medellín,
                                Colombia.
                                The office will serve as the Latin American headquarters for three of the companies in
                                our AI ecosystem</p>
                    </div>
                </article>
                <article class="media content-section">
                    <img class="rounded-circle article-img" src="{% static 'andrew.jpeg' %}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="user_posts.html">Andrew Ng</a>
                            <small class="text-muted">Aug 21, 2019</small>
                        </div>
                        <h2><a class="article-title" href="post_detail.html">Introducing the AI Transformation
                            Playbook</a></h2>
                            <p class="article-content">Dear friends,
                                I’m excited to share with you the AI Transformation Playbook. Drawn from my experience
                                leading Google Brain,
                                Baidu’s AI Group, and Landing AI, this Playbook provides a roadmap for your company to
                                transform into a great AI company.</p>
                    </div>
                </article>


            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </main>
{% endblock %}