{% extends 'blog/base.html' %}
{% load static %}
{% block body %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    <h3>{{ message}}</h3>
                </div>
                {% endfor %}


                <h1 class="mb-3">Posts by {{ first_name }} {{ last_name }} </h1>
                {% for post in posts %}
                    <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ post.author.avatar.url }}">
                    <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="#">{{ first_name }} {{ last_name }}</a>
                            <small class="text-muted">{{ post.published}}</small>
                        </div>
                        <h2><a class="article-title" href="{% url "blog:post-detail" post.pk %}">{{ post.title }}</a></h2>
{#                            <p class="article-content">{{ post.content }}</p>#}
                    </div>
                </article>
                {% empty %}
                        <h1>No Post</h1>
                {% endfor %}
            </div>
            {% include 'blog/sidebar.html' %}
        </div>
    </main>
{% endblock %}